:host{
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;  //Para que sea dinamico
}
img {
  max-width: 100%;
}

button {
  align-self:flex-start;
  text-align: center;
  width: 50%;
  height: 10%;
  background-color: cadetblue;
  color: azure;
}