
<html lang="es">


<app-product></app-product>
<!-- Me suscriboo al valor de title en el componente 
y si el valor cambia en el tiempo yo tambien cambio-->
<div>¿Que pasa si escribo hendrydev? {{title}} </div>


<!--Lee lo esrito en el box y lo envia al template-->
<input type= "text"  [(ngModel)]="title" >


<!--Si true muestra el componente, aqui lo que es dinamico es la condicion-->
<div *ngIf ="title==='henrydev'">
    Has descubierto este miembro
</div>

<!--Condicional mas optimo  que el if-->
<div [ngSwitch] ="title"> 
    <p *ngSwitchCase= "'nicolas'">Esto es nicolas</p>
    <p *ngSwitchCase= "'julian'">Esto es julian</p>
    <p *ngSwitchCase= "'pedro'">Esto es  pedro</p>
    <p *ngSwitchDefault>No hay match</p>
</div>



<div *ngFor= "let product of products">
<!--[] para modificar elemento html-->
{{product.title}}      
<img [src]="product.image" alt="">
     
</div>


